extends ./layout.jade

block content
  ul
    li
      h2 Product 1
      div
        strong 20,99€&nbsp;
        a(class='btn btn-xs btn-default', href='/order?amount=20.99&offer=1') Buy
    li
      h2 Product 2
      div
        strong 10,99€&nbsp;
        a(class='btn btn-xs btn-default', href='/order?amount=10.99&offer=2') Buy
    li
      h2 Product 3
      div
        strong 0,99€&nbsp;
        a(class='btn btn-xs btn-default', href='/order?amount=0.99&offer=3') Buy
    li
      h2 Product 4
      div
        strong 15,90€&nbsp;
        a(class='btn btn-xs btn-default', href='/order?amount=15.90&offer=4') Buy
    li
      h2 Product 5
      div
        strong 12,00€&nbsp;
        a(class='btn btn-xs btn-default', href='/order?amount=12.00&offer=5') Buy